@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.container{
    margin: 2rem 2rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins';
}
img{
    pointer-events: none;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-left: 4rem;
}
li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: gray;
}
li:hover{
    color: black;
}
.button-group{
    margin-left: 20rem;
}
.nav-button{
    border-radius: 9px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 2.5rem;
    width: 8rem;
    background-color: #5955B3;
    color: white;
}
.nav-button:hover{
    background-color: rgb(0, 0, 0);
    color: #5955B3;
}
.banner-container{
    display: flex;
}
.heading-text{
    color: #3C2F60;
    font-size: 56px;
    font-weight: 600;
}
.heading-text>span{
    color: #5955B3;
}
.description{
    color: gray;
    width: 25rem;
    margin-top: -2rem;
}
button[class~=btn]{
    margin-top: 3rem;
    width: 10rem;
    height: 3.2rem;
}
img[alt=illustration]{
    transform: scale(1);
    margin-right: -2.5rem;

}
button{
    cursor: pointer;
}
@media (max-width: 575.98px){
    .navbar-container{
        flex-direction: column;
        align-items: center;
        margin-left: -20rem;
        padding-left: 0;
    }
    .list{
        flex-direction: column;
        align-items: center;
        margin-left: -2rem;
    }
    .nav-button{
        margin-left: -15rem;
    }
    .banner-container{
        flex-direction: column;
    }
    img[alt=illustration]{
        transform: scale(.6);
        margin-top: -4rem;
        margin-left: -12rem;
    }
}
@media (max-width: 769px){
    .navbar-container{
        flex-direction: column;
        align-items: center;
    }   
    .list{
        width: 40rem;
    }
    .nav-button{
        margin-left: -13rem;
    }
    .heading-text{
        font-size: 2rem;
        width: 12rem;
    }
    .description{
        width: 12rem;
    }
    img[alt=illustration]{
        width: 35rem;
    }
    body > div > section:nth-child(2) > div > div:nth-child(1) > button{
        margin-left: 1rem;
    }
}
@media (min-width: 1920px){
    section[aria-label=navbar]{
        margin-bottom: 4rem;
    }
    .navbar-container{
        justify-content: space-around;
    }
    .nav-button{
        transform: scale(1.8);
        margin-top: 1rem;
    }
    .list-item{
        font-size: 2rem;
    }
    .description{
        font-size: 2rem;
        width: 50rem;
    }
    body > div > section:nth-child(2) > div > div:nth-child(1) > button{
        margin-left: 5rem;
    }
    img[alt=illustration]{
        width: 80rem;
        margin-left: 8rem;
    }
}